@charset "UTF-8";

#sign-up-div {
	width: 400px;
	padding: 100px 50px;
	margin: 0 auto;
}

#sign-up-div h1 {
	width: 360px;
	text-align: center;
	padding: 20px;
}

#sign-up-div p {
	padding: 20px 0;
}

#input-div {
	width: 300px;
}

.input-group {
	padding: 20px 0;	
}